body{
background-color:rgba(104,151,187);
font-family:Helvetica,Arial;
font-size:20px;
}
,p,a {font-size:1.5em;



}

p{
	color:white;
	padding:20px;
	background-color:rgba(0, 0, 0, 0.30);
	margin-bottom:0px;
}

h1{
	color:white;
	padding:30px;
	background-color:rgba(0, 0, 0, 0.30);
	font-size:2.5em;
	font-family:Helvetica;
	border-style:dotted;
	text-align:center;
	border-top:none;
	border-left:none;
	max-width:300px auto;
	margin: 0 auto;
	text-align:center;
}

ul{
	background-color:rgba(0, 0, 0, 0.30);
	padding:30px;
	border-style:solid;
	border-color:white;
	border-top:none;
	border-left:none;
	border-right:dashed;
	border-bottom:dashed;
	color:white;
}

a{
color:white; 
transition:color 300ms ease-in ; 


}

a:hover { 
color:purple;
 }

 #container {
 	max-width:600px;
 	margin: 0 auto;

 }

 img{ 
 	max-width: 100%;
 	padding:50px;
 	background-color:rgba(0, 0, 0, 0.30);
 	border-color:white;
 	border-style:dashed;
 	border-top:none;
 	border-bottom:dashed;
 	border-right:dashed;
 	border-left:none;
 	border-color:white;
 	margin-top:20px;

  }

  .link{
  list-style:none;

  }

  button{
  	background: rgba(104,151,187);
  	width:200px;
  	color:white;
  	font-size:20px;
  	border-width:2pt;
  	border-color:white;
  	font-family:futura;

  }