body {
    background-color:pink;
    font-family: Helvetica, sans-serif;
    line-height:1.45;
}

h1 {
    color: deeppink;
    font-weight:600;
}

p { color: white; }
a, li { color: green;}
a:hover { color: lightseagreen; }

img { width: 400px; }

ul {
    list-style: none;
    padding:0;
}
ul li {
    display:inline-block;
    margin-right: lem;
}

ul li ul {
    display:none;
}
ul li:hover ul {
    display: inline-blck;
}