*,*:before,*:after {margin:0px;
                    padding:0px;}

body{
    background-color:black;
    font-family: Helvetica, sans-serif;
    line-height: 1.45;
}
div{margin:auto;
    text-align:center;
    }

h1 a {color:aquamarine;
 font-family:Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size:1.1em;
}

a,li{color:white;
      text-decoration:none;
      font-family:Copperplate, 'Copperplate Gothic Light', fantasy;
}

a: hover{ color: lightskyblue;}

img{ width:95%;}

ul{
    list-style: none;
    padding:.6em;
   
}
ul li{ 
      display:inline;
      margin-right: 1em;
      font-size:1.2em;
}
 
ul li:hover ul{ 
    display: inline-block;


}
canvas{border:2px dotted gray;
      }



