<!DOCTYPE html>  
<html>  
<head>  
	<title>MMP 210</title>
	<meta charset="UTF-8">
	<link type="text/css" href="slides/slides.css" rel="stylesheet">
	<style>
		nav {
			float:right;
			width:200px;
			margin-top:10em;
		}
		nav li, ul {
			list-style:none;
			padding:0;
			margin:0;
		}
	</style>
</head>  
<body>
	<!-- <nav>
		<ul>
			<li><a href="index">Home</a></li>
			<li><a href="schedule">Schedule</a></li>
		</ul>
	</nav> -->
	<div id="container" class="outline">
		{{ content }}
	</div>
</body>  
</html>  